<ion-content class="ion-padding">
  <div class="login-container" style="display: flex; flex-direction: column; justify-content: center; height: 100%;">
    
    <div style="text-align: center; margin-bottom: 30px;">
      <h1 style="font-weight: bold; color: var(--ion-color-primary);">Academia Ulbra</h1>
      <p style="color: gray;">Faça login para acessar o sistema</p>
    </div>

    <ion-list lines="none">
      <ion-item style="margin-bottom: 15px; --background: #f4f5f8; border-radius: 8px;">
        <ion-input label="E-mail" labelPlacement="stacked" type="email" [(ngModel)]="email" placeholder="seu@email.com"></ion-input>
      </ion-item>

      <ion-item style="margin-bottom: 20px; --background: #f4f5f8; border-radius: 8px;">
        <ion-input label="Senha" labelPlacement="stacked" type="password" [(ngModel)]="senha" placeholder="Sua senha"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="block" shape="round" (click)="fazerLogin()" style="height: 48px; font-weight: bold;">
      Entrar
    </ion-button>

  </div>
</ion-content>