<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="voltarPara"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar Exercício</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="salvar()">

    <ion-item>
      <ion-select
        label="Grupo Muscular"
        labelPlacement="stacked"
        [(ngModel)]="grupoSelecionado"
        name="grupoSelecionado"
        required
        placeholder="Selecione o grupo"
        (ionChange)="onGrupoChange()">
        <ion-select-option *ngFor="let grupo of gruposMusculares" [value]="grupo">
          {{ grupo }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ng-container *ngIf="grupoSelecionado">

      <!-- select de exercício existente: só aparece fora do modo "novo" -->
      <ion-item *ngIf="!modoNovo">
        <ion-select
          label="Exercício"
          labelPlacement="stacked"
          [(ngModel)]="exercicioSelecionadoNoSelect"
          name="exercicioSelect"
          placeholder="Selecione um exercício"
          (ionChange)="onExercicioSelecionado()">
          <ion-select-option *ngFor="let ex of exerciciosDoGrupo" [value]="ex.id">
            {{ ex.nome }}
          </ion-select-option>
          <ion-select-option *ngIf="isAdmin" [value]="OPCAO_NOVO">
            + Cadastrar novo exercício
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-note *ngIf="exerciciosDoGrupo.length === 0 && !modoNovo" class="ion-padding-start">
        Nenhum exercício cadastrado ainda para esse grupo.
      </ion-note>

      <!-- modo "novo": campo de nome aparece no lugar do select, sem duplicar -->
      <ion-item *ngIf="modoNovo">
        <ion-input
          label="Nome do Exercício"
          labelPlacement="stacked"
          type="text"
          [(ngModel)]="exercicio.nome"
          name="nome"
          required
          placeholder="Ex: Supino Inclinado">
        </ion-input>
      </ion-item>

      <ion-button
        *ngIf="modoNovo"
        fill="clear"
        size="small"
        type="button"
        (click)="exercicioSelecionadoNoSelect = ''; resetFormulario()">
        Voltar para a lista de exercícios
      </ion-button>

      <!-- link do vídeo: aparece pra criar novo, ou pra editar um já escolhido -->
      <ion-item *ngIf="modoNovo || exercicioEditandoId">
        <ion-input
          label="Link do Vídeo (YouTube)"
          labelPlacement="stacked"
          type="text"
          [(ngModel)]="exercicio.video_url"
          name="video_url"
          required
          placeholder="Ex: https://www.youtube.com/watch?v=...">
        </ion-input>
      </ion-item>

      <ion-button
        *ngIf="isAdmin && (modoNovo || exercicioEditandoId)"
        expand="block"
        type="submit"
        class="ion-margin-top"
        [disabled]="!podeSalvar()">
        {{ exercicioEditandoId ? 'ATUALIZAR EXERCÍCIO' : 'SALVAR EXERCÍCIO' }}
      </ion-button>

    </ng-container>
  </form>
</ion-content>